<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"Chat" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-btn" href="/cart" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carts" *ngIf="noOfItems > 0" item-right color="danger">{{noOfItems}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-chat">
  <br />
  <section *ngFor="let chat of chatList">
    <ion-row class="row-chat-item">
      <div class="user-info" *ngIf="chat.sendBy=='Admin'">
        <img class="thumb-l" src="assets/img/logo-icon.png">
      </div>
      <div class="{{chat.sendBy=='User' ?'chat-box-right' : 'chat-box'}}">
        <div class="chat-header">
          <span *ngIf="chat.createdAt >= sevenDaysBack " class="time">
            {{chat?.createdAt | amTimeAgo}}</span>
          <span *ngIf="chat.createdAt <=  sevenDaysBack" class="time">
            {{chat?.createdAt | amCalendar}}</span>
        </div>
        <p class="{{chat.sendBy=='User' ?'msg' : 'msg rt'}}" text-wrap>{{chat?.message}}</p>
      </div>
      <div class="user-info" *ngIf="chat.sendBy=='User'">
        <img class="thumb-r" src="{{imageUrl}}">
      </div>
    </ion-row>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar no-padding>
    <form #f="ngForm" (ngSubmit)="onSend()">
      <div class="chat-footer">
        <div no-padding class="input-box">
          <ion-item>
            <ion-input class="chat-input" type="text" placeholder="{{'Type message...' | translate}}" name="message" id="message"
              [(ngModel)]=chatMessage.message clearInput required>
            </ion-input>
          </ion-item>
        </div>
        <div no-padding class=" ">
          <ion-button fill="clear" type="submit" [disabled]="!f.valid">
            <ion-icon class="enter-btn" name="send"></ion-icon>
          </ion-button>
        </div>
      </div>
    </form>
  </ion-toolbar>
</ion-footer>