<div class="page-sign-up bg-image">
    

    <h1 class="page-sign-up__title">
        <div class="page-sign-up__title-top">Chefresco</div>
        <div>Meals</div>
    </h1>

    <div class="page-sign-up__intro">
        <h4>
            <strong>{{"Welcome to Chefresco Meals" | translate}}</strong>
        </h4>
        <div>
            {{"We deliver delicious meals" | translate}}
        </div>
        <div>
            {{"right to your doorstep" | translate}}
        </div>
    </div>

    <div>
        <ion-row>
            <ion-col col-12>
                <ion-button expand="full"
                            (click)="navigateToRegisterPage()"
                            type="submit">{{"Sign Up" | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="page-sign-up__login">
            <ion-col col-12>
                <ion-button color="light" expand="full"
                            (click)="navigateToLoginPage()"
                            type="submit">{{"Login" | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</div>