@import '../../../theme/fonts.scss';

.page-sign-up {
    color: white;
    background-image: url(assets/img/bg.jpg);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.page-sign-up__title {
    font-family: $font-family-3;
    font-size: xx-large;
    flex-grow: 4;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.page-sign-up__title-top {
    margin-bottom: 15px;
}

.page-sign-up__intro {
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    line-height: 30px;
    h4 {
        font-family: $font-family-1;
    }
}

.page-sign-up__login {
    margin-top: -10px;
}

