<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="address-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Add address'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="address-page">
  <div style="background-image: url(assets/img/address-bg.jpg);" class="bg-image" padding>
    <form (ngSubmit)="onSubmitAddress()" #f="ngForm">
      <ion-list class="form-data">
        <!-- <ion-item>
          <ion-input type="text" name="name" id="name" placeholder="{{'Name' | translate}}" [(ngModel)]="address.name"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" name="homeNo" id="homeNo" placeholder="{{'House Number' | translate}}" [(ngModel)]="address.homeNumber"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="apartmentName" id="apartmentName" placeholder="{{'Apartment' | translate}}"
            [(ngModel)]="address.apartmentName" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" name="phone" id="phone" placeholder="{{'Mobile' | translate}}" [(ngModel)]="address.contactNumber"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="landmark" id="landmark" placeholder="{{'Landmark' | translate}}" [(ngModel)]="address.landmark"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="city" id="city" placeholder="{{'City' | translate}}" [(ngModel)]="address.city"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="state" id="state" placeholder="{{'State' | translate}}" [(ngModel)]="address.state"
            required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="number" name="pincode" id="pincode" placeholder="{{'Pincode' | translate}}" [(ngModel)]="address.pincode"
            required></ion-input>
        </ion-item> -->
        <ion-item class="sub-address">
          <ion-input type="text" placeholder="{{'Name' | translate}}" name="name" id="name" [(ngModel)]="address.name"
            required></ion-input>
        </ion-item>
        <ion-item class="sub-address">
          <ion-input type="text" placeholder="{{'City' | translate}}" name="city" id="city" [(ngModel)]="address.city"
            required></ion-input>
        </ion-item>
        <ion-item class="sub-address">
          <ion-input type="number" placeholder="{{'Pincode' | translate}}" name="pincode" id="pincode"
            [(ngModel)]="address.pincode" required></ion-input>
        </ion-item>{{"Add Address" | translate}}
        <ion-item class="sub-address">
          <ion-input type="text" name="area" id="area" placeholder="{{'Area / Locality' | translate}}"
            [(ngModel)]="address.area"></ion-input>
        </ion-item>
        <ion-item class="sub-address">
          <ion-input type="number" name="mobileNo" id="mobileNo" [(ngModel)]="address.mobileNo"
            placeholder="{{'Mobile' | translate}}"></ion-input>
        </ion-item>
        <ion-item class="sub-address address-textarea">
          <ion-textarea rows="6" placeholder="{{'Address' | translate}}" name="address" id="address"
            [(ngModel)]="address.address" required></ion-textarea>
        </ion-item>
        <!-- <ion-item class="full-address">
          <ion-textarea rows="4" placeholder="{{'Address' | translate}}" name="address" id="address"></ion-textarea>
        </ion-item> -->
      </ion-list>
      <ion-row class="buttons">
        <ion-col>
          <ion-button color="primary" expand="block" class="btn-lg block" type="submit" [disabled]="!f.valid">
            &nbsp;&nbsp;
            {{"Add Address" | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>