<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cart"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Checkout' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="page-address-list">

  <ion-row class="amount-block">
    <ion-col size="6">
      <p class="total"> {{"Order Total:" | translate}}
        <span class="currency"> {{currency}}{{orderInfoCopy?.grandTotal | number:'.2-2'}}
        </span>
      </p>
    </ion-col>
    <!-- <ion-col size="6">
      <p class="total right">{{"Loyality Points:" | translate}}
        <span class="currency">{{ loyaltyPoints}}</span>
      </p>
    </ion-col>
    <ion-item class="loyality-check">
      <ion-label>{{"Use Loyality Point" | translate}}</ion-label>
      <ion-checkbox name="loyalty-check" [disabled]="loyaltyPoints<loyaltyInfo?.minLoyalityPointes" checked="false"
        (ionChange)="updateLoyalty($event)"></ion-checkbox>
    </ion-item>
    <p class="warning" *ngIf="loyaltyPoints<loyaltyInfo?.minLoyalityPointes">
      You should have minimum {{loyaltyInfo?.minLoyalityPointes}} points to use loyalty points
    </p> -->
    <div>
      <p class="total"> {{"Amount to be paid:" | translate}}
        <span class="currency">{{currency}} {{orderInfo?.grandTotal | number:'.2-2'}}</span>
      </p>
    </div>
    <!-- <div *ngIf="remainingPoints!=undefined">
      <p class="total right"> {{"Remaining Point:" | translate}}
        <span class="currency">{{remainingPoints}}</span>
      </p>
    </div> -->
  </ion-row>
  <!--New  Address-->
  <div>
    <div>
      <ion-item class="add" (click)="addAddress()">{{"Add New Address" | translate}}
        <ion-icon name="add"></ion-icon>
      </ion-item>
    </div>
    <!--saved address list-->
    <ion-radio-group>
      <ion-row class="address-row" *ngFor="let address of addressList; let i = index ">
        <ion-col size="8">
          <ion-list class="address-radio">
            <ion-item>
              <ion-label>
                <p class="show-address">{{address?.name}} </p>
                <p class="show-address">{{address?.area}}</p>
                <p class="show-address">{{address?.city}}</p>
                <p class="show-address">{{address?.pincode}}</p>
                <p class="show-address">{{address?.mobileNo}}</p>
              </ion-label>
              <ion-radio (ionSelect)="selectAddress(address)"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="2">
          <ion-button class="delete-btn edit" fill="clear" (click)="editAdress(address._id)">
            <ion-icon name="create" text-right></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button class="delete-btn" fill="clear" (click)="deleteAdress(address._id,i)">
            <ion-icon name="trash" text-right></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-radio-group>
  </div>
  <ion-button expand="block" class="btn-lg block" (click)="checkOut()"> {{"Continue" | translate}} &nbsp;
  </ion-button>
</ion-content>