<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="about-us"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Location' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="dvMapEmergency"></div>
</ion-content>