@import '../../../theme/fonts.scss';
.page-plan-selection__plan-card-thumbnail {
    --size: 100px;
    height: 100px;
    width: 100px;
    margin: 0;
    position: relative;
    opacity: .8;
}

.page-plan-selection__plan-card-thumbnail--pink {
    border-left: 8px solid pink;
}
.page-plan-selection__plan-card-thumbnail--yellow {
    border-left: 8px solid yellow;
}
.page-plan-selection__plan-card-thumbnail--orange {
    border-left: 8px solid orange
}
.page-plan-selection__plan-card-thumbnail--red {
    border-left: 8px solid red;
}

.page-plan-selection__plan-card-img {
    width: 100px;
}

.page-plan-selection__plan-card-img-txt {
    position: absolute;
    color: white;
    font-family: $font-family-1;
    font-size: xx-large;
    top: 30%;
    width: 100%;
    text-align: center;
}

.page-plan-selection__plan-card {
    min-height: 100px;
}

.page-plan-selection__plan-card-content {
    margin-left: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    ion-img {
        width: 35px;
    }
}

.page-plan-selection__plan-item {
    --padding-start: 0;
}

.page-plan-selection__banner {
    background-image: url(assets/img/menu-bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}

.page-plan-selection__banner-plate {
    width: 100px;
    height: 100px;
    flex-grow: 2;
}

.page-plan-selection__banner-text {
    font-family: $font-family-1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: large;
}

