<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{"NUMBER OF MEALS" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="page-plan-selection">

  <div class="page-plan-selection__banner">
    <ion-img class="page-plan-selection__banner-plate" [src]="'assets/icon/plate.svg'"></ion-img>
    <div class="page-plan-selection__banner-text">1 meal = 1 person</div>
  </div>

  <ion-card class="page-plan-selection__plan-card" *ngFor="let option of options$ | async">
    <ion-item href="javaScript:void(0);"
              detail="false"
              class="page-plan-selection__plan-item" (click)="choosePlan(option)">
      <ion-thumbnail slot="start"
                     class="page-plan-selection__plan-card-thumbnail"
                     ngClass="page-plan-selection__plan-card-thumbnail--{{option.color}}">
        <ion-img class="page-plan-selection__plan-card-img"
                 [src]="'assets/img/bg2.jpg'"></ion-img>
                 <div class="page-plan-selection__plan-card-img-txt">${{getWeeklyMealPrice(option)}}</div>
      </ion-thumbnail>
      <ion-label class="page-plan-selection__plan-card-content">
        <div>
          <h1>
            <strong>{{option.numMealsPerWeek}} meals</strong>
          </h1>
          <div>{{option.pricePerMeal | currency}} / meal</div>
          <!-- <div>{{(option.pricePerMeal * option.numMealsPerWeek) | currency}} / week</div> -->
        </div>
        <ion-img src="assets/icon/arrow-right.svg"></ion-img>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>