<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Offers' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-btn" href="/cart" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carts" *ngIf="noOfItems > 0" item-right color="danger">{{noOfItems}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-offer">

  <div class="full-slide" *ngIf="offerProducts">
    <ion-row>
      <ion-col size="6" no-padding  *ngFor="let product of offerProducts">
          <ion-card>
              <img  src="{{product?.thumb}}">
              <span class="square text-center light assertive-bg ng-binding">{{product?.offerPercentage}}%</span>
              <ion-card-content>
                <h6>{{product?.title}}</h6>
                  <p class="price">
                      <span class="total line">{{currency}}{{product?.price[0]?.value}}</span>
                      &nbsp;&nbsp;  - &nbsp;&nbsp;
                      <span class="total">{{currency}}{{product?.price[0]?.specialPrice}}</span>
                    </p>
                    <p class="desc">{{product?.description}}</p>
              </ion-card-content>
              <ion-button color="primary" size="small" expand="full" class="btn-lg block" (click)="buyNow(product._id)">&nbsp;&nbsp;{{'Buy
                  Now'|translate}}</ion-button>
          </ion-card>
      </ion-col>
    </ion-row>
    

  </div>

</ion-content>