<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Contact' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-contact">
    <div style="background-image: url(assets/img/c3.jpg);" class="bg-image">
  <div class="wrapper">
    <p class="contact-head">{{'Contact The Chef' | translate }}</p>
    <div class="contact-methods">
      <h2>Email</h2>
      <div>{{settings?.contactEmail}}</div>
      <h2>Phone</h2>
      <div>{{settings?.contactPhone}}</div>
    </div>
  </div>
  </div>
</ion-content>