<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'News'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="page-favourite">
  <div *ngIf="newsList && newsList.length==0" class="empty-list">
    <ion-icon name="book"></ion-icon>
    <p>News List Empty</p>
  </div>

  <div>
    <ion-item class="news-item" (click)="newsDetail(news._id)" *ngFor="let news of newsList">
      <ion-row>
        <ion-col size="3"> <img src={{news?.thumb}}> </ion-col>
        <ion-col size="9">
          <p class="heading">{{news?.title}}</p>
          <p class="details"> {{news?.shortDescription}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>

</ion-content>