<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Settings' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="page-settings">
  <div class="login">
    <ion-row>
      <img class="img" src="{{user?.image}}">
      <br>
    </ion-row>
    <ion-row>
      <!-- <input type="file" name="file" id="file" " class="inputfile" aria-describedby="fileHelp"> -->
      <input type="file" name="file" id="file" ng2FileSelect [uploader]="uploader" class="inputfile" aria-describedby="fileHelp"
        accept="image/*" (change)="readUrl($event)">
      <label for="file" class="upload">
        <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
      </label>
    </ion-row>
    <p class="name">{{user?.name}}</p>
  </div>
  <br>
  <ion-item>
    <ion-label>{{'Languages' | translate}}</ion-label>
    <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
      <ion-select-option *ngFor="let option of options" value="{{option.value}}"> {{option?.language | translate}}</ion-select-option>
    </ion-select>
  </ion-item>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <ion-item>
      <ion-label primary> {{'Notifications' | translate}}</ion-label>
      <ion-toggle primary [(ngModel)]="showNotification" name="notification" id="notification" (ionChange)="changeSetting()">
      </ion-toggle>
    </ion-item>

    <!--user info-->
    <ion-item>
      <ion-label>{{'User Name:' | translate}}</ion-label>
      <ion-input type="text" name="name" id="name" placeholder="{{'Your Name' | translate}}" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{'Email:' | translate}}</ion-label>
      <ion-input type="email" name="email" id="email" placeholder="{{'Your Email' | translate}}" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{'Mobile Number:' | translate}}</ion-label>
      <ion-input type="text" name="mobileNo" id="mobileNo" placeholder="{{'Mobile No' | translate}}" [(ngModel)]="user.mobileNo"></ion-input>
    </ion-item>
    <br>
    <ion-button color="primary" expand="full" class="btn-lg block" type="submit">
      {{'Save' | translate}}
    </ion-button>
  </form>
</ion-content>