<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{previousRoute}}"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"choose meals" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-product-details">
  <div class="app-sub-header">{{getAllMealsQuantity()}} of {{getMaxNumMeals()}} Meals Picked</div>
  <br/>
  <br/>

  <img src={{productDetails?.thumb}} alt="{{productDetails?.title}}">
    <!-- <ion-icon class="fav" name="heart" *ngIf="isFavourite" (click)="removeFromFavourite(productDetails._id)"></ion-icon>
    <ion-icon class="fav heart-clicked" name="heart" *ngIf="!isFavourite" (click)="addToFavourite(productDetails._id)"></ion-icon> -->
  <div class="gray-header">{{productDetails?.title}}</div>
  <br/>
  <ion-row >
    <ion-col size="12" text-center>
      {{productDetails?.description}}
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="12" text-center>
      <div class="product__quantity">
        <ion-img src="assets/icon/minus-circle.svg" (click)="subtractOneFromQuantity()"></ion-img>
        <ion-label>quantity</ion-label>
        <span>{{product.quantity}}</span>
        <ion-img src="assets/icon/plus-circle.svg" (click)="addOneToQuantity()"></ion-img>
      </div>
    </ion-col>
  </ion-row>


  <!-- size and price check box -->
  <ng-container *ngIf="productDetails.extraOptions != undefined; else noCustomizations">
    <ion-list >
      <ion-radio-group>
        <ion-item *ngFor="let option of productDetails.extraOptions; let i= index" class="list-item">
          <ion-label>{{option.name}} 
            <span *ngIf="option.value">({{option.value | currency}})</span>
          </ion-label>
          <ion-toggle (ionChange)="onCheckExtraIngredients(option)" [checked]="isExtraOptionChecked(option)"></ion-toggle>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ng-container>
  <ng-template #noCustomizations>
    <h5 text-center>No Customizations Available</h5>
  </ng-template>

  <ion-item>
    <ion-label position="stacked">Special Requests</ion-label>
    <ion-textarea rows="6"
                  cols="20"
                  [(ngModel)]="product.specialRequests"
                  placeholder="Enter any special requests here...">
    </ion-textarea>
  </ion-item>

  <!-- <ion-list class="size-list">
    <ion-list-header class="size-list-header" text-center>
      {{'Size and Prices' |translate}}
    </ion-list-header>
    <ion-radio-group>
      <ion-item *ngFor="let price of productDetails?.price" class="size-list-item">
        <ion-label *ngIf="price.specialPrice != undefined"><del>{{currency}}{{price?.value}}</del>
          {{currency}}{{price?.specialPrice}} / {{price?.pname}}</ion-label>
        <ion-label *ngIf="price.specialPrice == undefined">{{currency}}{{price?.value}} / {{price?.pname}}</ion-label>
        <ion-radio class="checked" (ionSelect)="onSelectSize(price)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list> -->
</ion-content>

<ion-footer no-border transparent>
  <ion-toolbar>
    <ion-button *ngIf="!isMealSelected; else notSelected" 
    expand="full"
                (click)="selectAndNavigateBackToList()"
                type="submit">{{"Select Meal" | translate}}
    </ion-button>

    <ng-template #notSelected>
      <ion-button expand="full"
                  (click)="makeEditAndNavigateBackToList()"
                  type="submit">{{"Done Customizing" | translate}}
      </ion-button>
    </ng-template>

  </ion-toolbar>
</ion-footer>