@import '../../../theme/fonts.scss';
@import '../../../theme/custom/variables.scss';
.product__quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 90px;
    font-size: 40px;
    color: $dark;
    font-family: $font-family-1;
    margin: auto;
    position: relative;
    ion-img {
        width: 20px;
    }
    ion-label {
        position: absolute;
        top: 0;
        font-size: 12px;
    }
}