<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Booking History' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-btn" (click)="goToCartPage()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="noOfItems > 0" class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="page-booking-history">

  <ion-card class="card_content" *ngFor="let item of bookings; let i=index;">
    <div class="overlay_top">
      <h2 class="id">
        <ion-icon name="restaurant"></ion-icon> &nbsp; &nbsp;{{"Booking History" | translate}}: {{i+1}}
      </h2>
    </div>
    <ion-card-content class="overlay_content">
      <div class="name" padding>
        <ion-icon ios="ios-person-outline" name="person" class="icon"></ion-icon>
        <h2 class="descrption">
          {{item?.name | uppercase}}
        </h2>
      </div>
      <ion-row class="details" text-center>
        <ion-col size="6">
          <h1 class="persons">{{item?.person }}</h1>
          <p class="subline">{{"No. of Persons" | translate}}</p>
        </ion-col>
        <ion-col size="6">
          <h1 class="persons">{{item?.tableNumber? item?.tableNumber: item.status }}</h1>
          <p class="subline">{{"Table No" | translate}}</p>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center padding>
        <ion-col size="6" class="date">
          <ion-icon ios="ios-calendar-outline" name="calendar" class="icon"></ion-icon>
          <h3 class="descrption">{{item.date | date}}</h3>
        </ion-col>
        <ion-col size="6" class="time">
          <ion-icon ios="ios-clock-outline" name="clock" class="icon"></ion-icon>
          <h3 class="descrption">{{item.time}}</h3>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <div class="overlay_bottom">
      <ion-col size="7">
        <h6>{{"Status" | translate}}: {{item?.status}}</h6>
      </ion-col>
      <ion-col size="5">
        <!-- rating -->
      </ion-col>
    </div>
  </ion-card>
  <div *ngIf="bookings && bookings.length==0" class="empty-list" text-center>
    <ion-icon name="bookmark"></ion-icon>
    <p>{{'Sorry, No Previous History' | translate}} !</p>
  </div>
</ion-content>