<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="order-details"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Order Status' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-order-status">
  <div class="top">
    <p>{{'Your Order Status' | translate}}</p>
  </div>
  <div *ngIf="order">
    <p class="address">Shipping Address:-</p>
    <p class="address">{{order?.shippingAddress?.name}} <br>
      Contact No. -{{order?.shippingAddress?.mobileNo}}
      <br>{{order?.shippingAddress?.address}},{{order?.shippingAddress?.area}}
      {{order?.shippingAddress?.city}} -
      {{order?.shippingAddress?.pincode}}
    </p>
  </div>


  <div class="status-block">
    <ion-row>
      <ion-col size="1">
        <ion-icon class="checked" name="timer"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <p class="time">
          <ion-icon name="time"></ion-icon>
          {{order?.statusReading[order.statusReading.length-1]?.time | date: 'short' }}
        </p>
        <p> {{'Status' | translate}}: {{order?.status}} </p>
      </ion-col>
    </ion-row>
  </div>
  <div class="status-block" *ngFor="let status of order?.statusReading">
    <ion-row>
      <ion-col size="1">
        <ion-icon class="checked" name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="7">

        <p text>{{status?.title}}</p>
      </ion-col>
      <ion-col size="4">
        <p class="time">
          <ion-icon name="time"></ion-icon>
          {{status?.time | date: 'MM:hh a' }}
        </p>
      </ion-col>
    </ion-row>
  </div>

</ion-content>