$font-family-1: "Alegreya";
@font-face {
    font-family: Alegreya;
    font-weight: bold;
    src: url('src/assets/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf');
}
@font-face {
    font-family: Alegreya;
    src: url('src/assets/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf');
}

$font-family-2: "YanoneKaffeesatz";
@font-face {
    font-family: Wire-One;
    src: url('src/assets/fonts/Wire_One/WireOne-Regular.ttf');
}
@font-face {
    font-family: BenchNine;
    src: url('src/assets/fonts/BenchNine/BenchNine-Regular.ttf');
}
@font-face {
    font-family: BenchNine;
    font-weight: bold;
    src: url('src/assets/fonts/BenchNine/BenchNine-Bold.ttf');
}
@font-face {
    font-family: BenchNine;
    font-weight: 100;
    src: url('src/assets/fonts/BenchNine/BenchNine-Light.ttf');
}

@font-face {
    font-family: YanoneKaffeesatz;
    src: url('src/assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}
@font-face {
    font-family: YanoneKaffeesatz;
    font-weight: bold;
    src: url('src/assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-SemiBold.ttf');
}
@font-face {
    font-family: YanoneKaffeesatz;
    font-weight: 100;
    src: url('src/assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Light.ttf');
}

$font-family-3: "Charmonman";
@font-face {
    font-family: Charmonman;
    src: url('src/assets/fonts/Charmonman/Charmonman-Regular.ttf');
}

$font-family-4: "Montserrat";
@font-face {
    font-family: Montserrat;
    src: url('src/assets/fonts/Montserrat/Montserrat-Light.ttf');
}

