<ion-header>
    <ion-toolbar color="primary" hideBackButton="true">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{"PASSWORD RESET" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="page-login">
    <div>
      <h1 class="logo chef-title">
        Chef Fresca
      </h1>
      <!--inputs-->
      <!--email-->
      <form [formGroup]="user" (ngSubmit)="onPasswordReset()">
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-label position="stacked">{{"Email:" | translate}} </ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-col>
        </ion-row>
  
        <!--button-->
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-button expand="block" class="login-btn" type="submit" [disabled]="!user.valid">{{"Send Password Reset Email" | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
  
    </div>
  </ion-content>