@import '../../../theme/fonts.scss';

.item-inner{
    border: 0!important;
}

.login-page__bottom-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chef-title__top {
    margin-bottom: 15px;
}