<ion-header>
  <ion-toolbar color="primary" hideBackButton="true" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"LOGIN" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-login">
  <div>
    <h1 class="logo chef-title">
      <div class="chef-title__top">Chefresco</div>
      <div>Meals</div>
    </h1>
    <!--inputs-->
    <!--email-->
    <form [formGroup]="user" (ngSubmit)="onLogin()">
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-label position="stacked">{{"Email:" | translate}} </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-col>
      </ion-row>
      <!--password-->
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-label position="stacked">{{"Password:" | translate}} </ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-col>
      </ion-row>

      <!--button-->
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button expand="block" class="login-btn" type="submit" [disabled]="!user.valid">{{"Login" | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <!--login with-->
    <!-- <ion-row>
      <ion-col col-12>
        <p text-center>{{"LOGIN WITH" | translate}}</p>
      </ion-col>
    </ion-row> -->

    <!--Social login-->
    <!-- <ion-row>
      <ion-col col-12 text-center>
        <span (click)="doFbLogin()">
          <img class="social-icon" src="assets/img/fb.png">
        </span>
        <span (click)="googleLogin()">
          <img class="social-icon" src="assets/img/g+.png">
        </span>
        <span (click)="twitterLogin()">
          <img class="social-icon" src="assets/img/twitter.png">
        </span>


      </ion-col>
    </ion-row> -->

    <!--go to registration-->
    <div class="ion-margin-top">
      <ion-row>
        <ion-col col-12>
          <div class="login-page__bottom-links">
            <ion-button (click)="navigateTo()" color="light" fill="outline" size="small">{{"SIGN UP" | translate}}</ion-button>
            <a (click)="navigateToForgotPassword()" class="link link--white">Forgot Password?</a>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>