<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"Favourite" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-btn" href="/cart" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carts" *ngIf="noOfItems > 0" slot="end" color="danger">{{noOfItems}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="page-favourite">
  <span *ngIf="favouriteList && favouriteList.length==0">
    <ion-row>
      <ion-icon class="empty-cart" name="heart"></ion-icon>
    </ion-row>
    <h4 style="color: gray">{{"Wish List is empty!" | translate}}</h4>
  </span>
  <span *ngIf="favouriteList && favouriteList.length>0 ">
    <ion-card padding *ngFor="let favouriteItem of favouriteList">
      <ion-row>
        <ion-col size="4">

          <img src={{favouriteItem?.thumb}}>

        </ion-col>
        <ion-col size="8">
          <p class="heading">{{favouriteItem?.title}}</p>
          <p>{{favouriteItem?.description}}</p>
          <ion-row>
            <ion-col size="8" class="add-col">
              <ion-button expanded="block" class="btn-lg block add" (click)="navigateTo(favouriteItem._id)">
                <ion-icon name="cart"></ion-icon>
                &nbsp; {{"Buy Now" | translate }}
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button color="danger" fill="clear" class="btn-lg block" fill="outline" (click)="removeFromFavourites(favouriteItem._id)">
                <ion-icon name="trash">
                </ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </span>
</ion-content>