<ion-app>

  <ion-menu class="menu">

    <ion-content class="sidebar-menu">
      
      <div style="background-image: url(assets/img/menu-bg.jpg);" class="bg-image">
        <ion-row class="img-name-row">
          <ion-col>
            <ion-img class="img-name-row-chef-icon" src="assets/icon/chef-fresco.svg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="user-name">Hi {{userInfo?.name}}!</p>
          </ion-col>
        </ion-row>

        <ion-menu-toggle auto-hide="false" *ngFor="let route of routes">
          <ion-item *ngIf="isLoggedin(route.loginRequired)" class="menu-item" [routerDirection]="route.routeDirection ? route.routeDirection :'root'" [routerLink]="[route.url]">
            <!-- <ion-icon slot="start" [name]="route.icon"></ion-icon> -->
            <ion-label>
              {{route?.title | translate}}
            </ion-label>
            <ion-badge *ngIf="route.count>0" class="menu-badge">{{route?.count}}</ion-badge>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item *ngIf="isLoggedin(true)" class="menu-item" [routerDirection]="'root'" (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
              {{"Logout" | translate}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>

  </ion-menu>

  <ion-router-outlet main>
  </ion-router-outlet>

</ion-app>