@import '../../../theme/fonts.scss';
@import '../../../theme/custom/variables.scss';
@import '../../../theme/custom/common.scss';

ion-card {
    img {
        height: 250px;
        object-fit: cover;
    }
}

.item-name {
    @extend .gray-header;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.item-name-text {
    padding-right: 20px;
}

.item-name-selected-checkbox {
    height: 100%;
    position: absolute;
    width: 20px;
    top: 0;
    right: 10px;
}

.item--selected {
    .item-name {
        background: $primary-alpha;
    }
}

.item-selected-options {
    background: #d8d8d896;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 15px;
    border-radius: 4px;
    ion-img {
        width: 20px;
    }
}
.item-selected-options__top-section {
    display: flex;
    margin-top: -15px;
    justify-content: space-between;
}

.item-selected-options__quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 90px;
    font-size: 40px;
    color: $dark;
    font-family: $font-family-1;
    margin-right: 15px;
}
.item-selected-options__customizations {
    max-height: 130px;
    overflow-y: scroll;
    ion-img {
        width: 10px;
        margin-left: 5px;
    }
}
.item-selected-options__customization {
    padding: 5px 7px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    background: $primary;
    border-radius: 4px;
    color: $white;
    font-size: 12px;
}

.item-selected-options__customization--special {
    background: $tertiary;
}

.item-selected-options_customization-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 135px;
}