<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="delivery-day-selection"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"choose meals" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-product-list">
  <div class="app-sub-header">{{getAllMealsQuantity()}} of {{getMaxNumMeals()}} Meals Picked</div>
  <br/>
  <br/>
  <ion-item no-lines>
    <ion-label position="stacked">Category</ion-label>
    <ion-select cancelText="Cancel" okText="Okay!" [(ngModel)]="selectedCategory" (ngModelChange)="getMeals($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option [value]="option.key" *ngFor="let option of categories">{{option.value}}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-searchbar (ionInput)="seacrchProduct($event)" placeholder="{{'Type Item Name' | translate}}">
  </ion-searchbar> -->
  <div>

    <ion-card class="item" *ngFor="let menuItem of itemsCopy"
              [ngClass]="{'item--selected': isMenuItemSelected(menuItem._id)}">
      <img src={{menuItem?.thumb}} alt="{{'foodname' | translate}}" />
      <div class="item-selected-options" *ngIf="isMenuItemSelected(menuItem._id)">
        <div class="item-selected-options__top-section">
          <div class="item-selected-options__quantity">
            <ion-img src="assets/icon/minus-circle.svg" (click)="subtractOneFromQuantity(menuItem._id)"></ion-img>
            <span>{{getSelectedItemQuantity(menuItem._id)}}</span>
            <ion-img src="assets/icon/plus-circle.svg" (click)="addOneToQuantity(menuItem._id)"></ion-img>
          </div>
          <ion-img src="assets/icon/x-bold.svg" (click)="removeMeal(menuItem._id)"></ion-img>
        </div>
        <div class="item-selected-options__customizations">
          <div class="item-selected-options__customization" *ngFor="let customization of getCustomizations(menuItem._id)">
            <div class="item-selected-options_customization-text">{{customization.name | translate}}</div>
            <ion-img src="assets/icon/x.svg" (click)="removeCustomization(menuItem._id, customization.name)"></ion-img>
          </div>
          <div class="item-selected-options__customization item-selected-options__customization--special" *ngIf="getSpecialRequestForSelectedMeal(menuItem._id)">
            <div class="item-selected-options_customization-text">{{"*Special Request" | translate}}</div>
            <ion-img src="assets/icon/x.svg" (click)="removeSpecialRequest(menuItem._id)"></ion-img>
          </div>
        </div>
      </div>
      <div class="item-name">
        <div class="item-name-text">{{menuItem?.title}}</div>
        <ion-img *ngIf="isMenuItemSelected(menuItem._id)" class="item-name-selected-checkbox" src="assets/icon/check-circle.svg"></ion-img>
      </div>
      <div class="colored-header colored-header--{{getCategoryColor(menuItem.category)}}">{{getCategoryName(menuItem.category)}}</div>
      <ion-item text-wrap>
        
        <ion-row class="catagory">
            <p class="item-detail" text-wrap>
              {{menuItem?.description}}
            </p>
        </ion-row>
      </ion-item>
      <ion-row>
        <ion-col col-12>
            <ion-button *ngIf="!isMenuItemSelected(menuItem._id); else customize"
                        color="light"
                        expand="full"
                        (click)="navigateToProductDetail(menuItem._id)">{{"Select and Customize" | translate}}
            </ion-button>
            <ng-template #customize>
              <ion-button color="light"
                          expand="full"
                          (click)="navigateToProductDetail(menuItem._id)">{{"Customize" | translate}}
              </ion-button>
            </ng-template>
        </ion-col>
      </ion-row>
    </ion-card>

    <div *ngIf="itemsCopy.length==0" class="empty-list" text-center>
      <ion-icon name="bookmark"></ion-icon>
      <br>
      <p>
        {{"Sorry, No Items !" | translate}}
      </p>
    </div>
  </div>
</ion-content>
<ion-footer no-border transparent>
  <ion-toolbar>
    <ion-button expand="full"
                [disabled]="getAllMealsQuantity() < getMaxNumMeals()"
                (click)="navigateToCheckout()"
                type="submit">{{"Next" | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>