<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'Category' | translate}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="cart-btn" href="/cart" routerDirection="forward">
                <ion-icon name="cart"></ion-icon>
                <ion-badge *ngIf="noOfItems > 0" class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="page-category">

    <ion-item (click)="navigateTo(category._id)" *ngFor="let category of categories">
        <ion-thumbnail slot="start">
            <img src={{category?.thumb}}>
        </ion-thumbnail>
        <p>
            <ion-label class="heading">{{category?.title}}</ion-label>
            <ion-label class="detail">{{category?.description}}....</ion-label>
        </p>
    </ion-item>

</ion-content>