<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="plan-selection"></ion-back-button>
        </ion-buttons>
        <ion-title>{{"CHOOSE A DELIVERY DAY" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="page-delivery-day">

    <div class="page-delivery-day__banner">
        <ion-img class="page-delivery-day__banner-calendar"
                 [src]="'assets/icon/calendar.svg'"></ion-img>
        <div class="page-delivery-day__banner-text">
            <h3>{{"Delievery Date" | translate}}</h3>
            <h3><strong>{{chosenDate?.format('dddd, MMM Do') | lowercase}}</strong></h3>
        </div>
    </div>
  
    <div *ngIf="(deliveryDates$ | async) as deliveryDates">
      <ng-container *ngIf="deliveryDates?.length > 0; else noDeliveryDates">
        <ion-card class="page-delivery-day__day"
                  [ngClass]="{'page-delivery-day__day--selected' : deliveryDate.date === chosenDate }"
                  *ngFor="let deliveryDate of deliveryDates">
          <ion-item href="javaScript:void(0);" (click)="chooseDeliveryDate(deliveryDate.date)">
            <ion-label>
              <h2>
                <strong>{{deliveryDate?.date.format('dddd,') | lowercase}}</strong>&nbsp;
                <span>{{deliveryDate?.date.format('MMM Do') | lowercase}}</span>
                <span class="page-delivery-day__spots-left" *ngIf="getSpotsRemaining(deliveryDate.ordersRemaining)">
                  <ion-img src="assets/icon/fire-icon.svg"></ion-img>
                  {{getSpotsRemaining(deliveryDate.ordersRemaining) + " spots left!"}}
                </span>
              </h2>
            </ion-label>
          </ion-item>
        </ion-card>
      </ng-container>
    </div>

    <ng-template #noDeliveryDates>
      <h2>We are currently not delivering to this area in the near future.</h2>
    </ng-template>

  </ion-content>
  <ion-footer no-border transparent>
    <ion-toolbar>
      <ion-button expand="full"
                            (click)="navigateToChooseMeals()"
                            type="submit">{{"Next" | translate}}
                </ion-button>
    </ion-toolbar>
  </ion-footer>