@import '../../../theme/fonts.scss';
@import '../../../theme/custom/variables.scss';

.page-delivery-day__banner {
    background: $white-b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}

.page-delivery-day__banner-calendar {
    width: 65px;
    height: 65px;
    flex-grow: 2;
}

.page-delivery-day__banner-text {
    text-align: center;
}

.page-delivery-day__day {

}

.page-delivery-day__day--selected {
    border-left: 8px solid $primary;
}

.page-delivery-day__spots-left {
    font-size: 13px;
    float: right;
    ion-img {
        display: inline-block;
        width: 10px;
        margin-right: 5px;
        position: relative;
        top: 1px;
    }
}