<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"Orders" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-btn" (click)="goToCartPage()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carts" *ngIf="noOfItems > 0" item-right color="danger">{{noOfItems}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-orders">
  <div *ngIf="orders && orders.length==0" class="emptylist">
    <ion-icon class="empty-cart" name="cart"></ion-icon>
    <p class="no-order">{{"No Orders" | translate}}</p>
    <ion-col>
       <a class="home" href="/home" color="primary" size="small" type="button">Go To Home</a>
    </ion-col>

  </div>

  <div>
    <div class="orders-list">
      <ion-card class="orders-item" (click)="orderDetails(order._id)" *ngFor="let order of orders">
        <ion-row>
          <ion-col size="4">
            <img src="{{order?.cart[0]?.item?.thumb}}">
          </ion-col>
          <ion-col size="5">
            <p class="item-name">
              <strong>{{"Order Id:" | translate}} {{order?.orderId}}</strong>
            </p>
            <p class="item-price">{{"Price:" | translate}} {{currency}} {{order?.grandTotal | number:'.2-2'}}</p>
            <p class="date">{{"Date:" | translate}} {{order?.createdAt | date}}</p>
          </ion-col>
          <ion-col size="3">
            <br />
            <ion-button color="primary" expand="block" size="small" type="button" (click)="orderDetails(order._id)">{{"View"
              | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>

</ion-content>