<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"Chefresco Meals" | translate}}
    </ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button class="cart-btn" (click)="goToCartPage()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="noOfItems > 0" class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="page-home">
  <ion-grid class="grid">
    <ion-row>
      <!-- first row -->
      <ion-slides initialSlide=0 speed="3000" loop="true" pager="true" dir="rtl">
        <ion-slide *ngFor="let feature of featured$ | async">
          <div class="overlay">
            <img src={{feature?.thumb}} class="slider-img">
          </div>
          <div class="card-title">{{feature?.title}}</div>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <!-- first row -->
    <!-- second-row -->
    <div text-center class="gray-header">
      {{'Upcoming Orders' | translate}}
    </div>
    <ion-card class="order"  *ngFor="let order of orders" (click)="navigateToOrder(order)">
        <ion-col size="4" align-self-center text-center>
          <div>{{order.pickupAddress ? "pick up on" : "delivery on" | translate}}</div>
        <strong class="order__delivery-on-date">{{moment(order.deliveryDate).format('M / D')}}</strong>
        </ion-col>
        <ion-col size="4" class="order__num-meals" align-self-center text-center>
          <div class="order__num-meals-number">{{order.mealPlan?.numMealsPerWeek}}</div>
          <strong class="order__num-meals-text">{{"meals" | translate}}</strong>
          <ion-img src="assets/icon/plate-clear.svg"></ion-img>
        </ion-col>
        <ion-col size="4" align-self-center text-center>
          <strong>{{"view order" | translate}}</strong>
        </ion-col>
    </ion-card>
    <ion-card class="start-order" (click)="startNewOrder()">
      <ion-col size="2" class="start-order__icon" align-self-center text-center>
        <ion-img src="assets/icon/chef-fresco--black.svg"></ion-img>
      </ion-col>
      <ion-col size="8" align-self-center text-center>
        <div class="start-order__main-text">
          {{"start a new order" | translate}}
        </div>
        <div class="start-order__sub-text" *ngIf="spotsLeftForNextAvailableDate">
          <ion-img src="assets/icon/fire-icon.svg"></ion-img>
          <span>{{spotsLeftForNextAvailableDate}}{{" spots left for delivery by " | translate}} {{nextAvailableDeliveryDate.date.format('MMM D').toLocaleLowerCase()}}</span>
        </div>
      </ion-col>
      <ion-col size="2" align-self-center text-center>
        <ion-img class="start-order__arrow" src="assets/icon/arrow-right.svg"></ion-img>
      </ion-col>
    </ion-card>
  </ion-grid>
</ion-content>