@import '../../../theme/custom/variables.scss';
@import '../../../theme/fonts.scss';

.order, .start-order {
    font-family: $font-family-1;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    ion-col {
        padding: 10px;
        margin: 2px;
    }
}

.start-order {
    border: 1px solid #cfd81f;
}

.order__delivery-on {
    
}

.order__delivery-on-date {
    font-size: 28px;
}

.order__num-meals {
    background-color: $primary;
    color: white;
    border-radius: 8px;
    ion-img {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        left: 50%;
        margin-left: -50%;
    }
}

.order__num-meals-number {
    font-size: 28px;
    z-index: 2;
    position: relative;
    font-weight: bold;
}

.order__num-meals-text {
    z-index: 2;
    position: relative;
}

.start-order__icon {
    ion-img {
        width: 30px;
        margin: auto;
        margin-left: 10px;
    }
}

.start-order__main-text {
    font-size: 18px;
}

.start-order__sub-text {
    ion-img {
        display: inline-block;
        width: 10px;
        margin-right: 5px;
        position: relative;
        top: 1px;
    }
}

.start-order__arrow {
    margin-top: 5px;
    width: 20px;
}