<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orders"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Order Details" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-order-details">
  <div class="order-full" *ngFor="let product of orderDetails?.cart ; let i = index ">
    <ion-row>
      <ion-col size="4">
        <img class="product-image" src="{{product?.item?.thumb}}">
      </ion-col>
      <ion-col size="8">
        <div class="prod-detail">
          <h5>{{product?.item?.title}}</h5>
        </div>
        <p>{{"Price:" | translate}}
          <span>{{currency}}{{product?.itemTotalPrice | number:'.2-2'}}</span>
        </p>
        <p>{{"Quantity:" | translate}} {{product?.item?.itemQunatity}}</p>
        <div *ngIf="product?.item?.review?.rating>0 " class="product-rating">
          <rating name="rating" id="rating" [(ngModel)]="product.item.review.rating" readOnly="true" max="5"
            emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
            [disabled]="true"></rating>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" padding>
        <ion-button color="primary" expand="full" size="small" (click)="buyAgain(product?.item?.itemId)">
          <ion-icon name="cart"></ion-icon>&nbsp;&nbsp;{{"BUY AGAIN" | translate}}
        </ion-button>
      </ion-col>
      <ion-col size="6" padding *ngIf="orderDetails.status == 'Delivered'">
        <ion-button [disabled]="product.rating>0" color="primary" expand="full" size="small" (click)="rate(product?.item?.itemId,i)">
          <ion-icon name="star"></ion-icon> &nbsp;{{"Rate Product" | translate}}
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
  <div class="details">
    <h4>{{"Order Details" | translate}}</h4>
    <p class="order-desc">{{"Order Id:" | translate}}
      <span class="data">{{orderDetails?.orderId}}</span>
    </p>
    <p class="order-desc">{{"Order date:" | translate}}
      <span class="data">{{orderDetails?.createdAt | date}}</span>
    </p>
    <p class="order-desc">{{"Amount Paid:" | translate}}&nbsp;
      <span class="amount">{{currency}}{{orderDetails?.grandTotal | number:'.2-2'}}</span>
    </p>
    <!-- <p class="order-desc">paid through::&nbsp;
      <span class="pay"> -{{orderDetails?.paymentOption}}</span>
    </p> -->
    <p class="order-desc">paid through::&nbsp;
      <span class="pay"> -{{orderDetails?.paymentType}}</span>
    </p>


  </div>
  <!-- rate-button -->

  <ion-button color="primary" expand="full" class="btn-lg block" (click)="trackOrder()">{{"Track Order" | translate }}</ion-button>

  <!--button-->

</ion-content>