<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product-detail"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'Cart' |translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-cart">

  <div class="empty-list" *ngIf="noOfItems == 0">
    <ion-icon class="empty-cart" name="cart"></ion-icon>
    <p>
      {{'Your Cart is empty' |translate}}!
    </p>
    <ion-row align-items-center>
      <ion-col size="8" offset="2">
        <ion-button class="empty-btn" size="small" href="/home" routerDirection="root">
          {{'Add Items' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

  <div *ngIf="noOfItems != 0">
    <ion-list class="cart-list" *ngFor="let cartItem of cartItems ; let i = index ">
      <!-- item-list -->
      <ion-item class="cart-item">
        <!-- col-for item-image and details -->
        <ion-row>
          <ion-col size="4">
            <img src={{cartItem?.item?.thumb}} alt="{{cartItem?.item?.title}}">
          </ion-col>
          <ion-col size="8">
            <p class="item-name" text-wrap>{{cartItem?.item?.title}}</p>
            <p class="item-detail" text-wrap>Quantity: {{cartItem?.item?.itemQunatity}} </p>
            <p class="item-detail" text-wrap>Size: {{cartItem?.item.price?.pname}}</p>
            <p class="item-detail">Price:
              <span *ngIf="cartItem.item?.price?.specialPrice == undefined" class="item-price">
                {{currency}}{{cartItem?.item?.price.value | number:'.2-2'}} X {{cartItem?.item?.itemQunatity}}</span>
              <span *ngIf="cartItem.item?.price?.specialPrice != undefined" class="item-price">
                {{currency}}{{cartItem?.item?.price?.specialPrice | number:'.2-2'}}*{{cartItem?.item?.itemQunatity}}</span>
              =
              {{currency}}{{cartItem?.itemTotalPrice}}
            </p>
            <p class="item-detail" text-wrap>Extra: {{currency}}{{cartItem?.extraPrice}}</p>
            <ion-row class="count-row">
              <!-- row-for count item -->
              <ion-col size="10">
                <div class="count">
                  <span class="item-count" (click)="decreaseCartItem(i)">
                    -
                  </span>
                  <span class="item-count show-count"> {{cartItem?.item?.itemQunatity}}
                  </span>
                  <span class="item-count" (click)="increaseCartItem(i)">
                    +
                  </span>
                </div>

              </ion-col>
              <ion-col size="2">
                <!-- col-cancel  button -->
                <ion-icon name="trash" (click)="removeCartItem(i)">
                </ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>

    <ion-row class="price-details">
      <ion-col size="12" class="calculate">
        <span *ngIf="deductedPrice">
          <p class="bill-detail">
            {{'Deducted Price' | translate}}
            <span> - {{currency}}{{deductedPrice | number:'.2-2'}}</span>
          </p>
        </span>
        <p class="bill-detail">
          {{'Price Subtotal' | translate}}
          <span>{{currency}}{{subTotalPrice | number:'.2-2'}}</span>
        </p>
        <p class="bill-detail">
          {{"Total Tax" | translate}} - ({{globalTax}}%)
          <span> + {{currency}}{{taxAmount | number:'.2-2'}}</span>
        </p>
        <hr>
        <ion-row>
          <ion-col size="4">
            <p class="bill-detail">{{'Apply Coupon' | translate}}</p>
          </ion-col>
          <ion-col size="8">
            <ion-item class="select-item">
              <ion-label>{{'Coupons' | translate}}</ion-label>
              <ion-select [(ngModel)]="couponDiscount" (ionChange)="calculatePrice()">
                <ion-select-option *ngFor="let coupon of coupons" value="{{coupon?.value}}">{{coupon?.name}}
                  ({{coupon?.value}}%)</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <p class="coupon-applied" *ngIf="deductedPrice">Coupon Applied.</p>
        <p class="cart-total">
          <strong>{{'Order Total' | translate}}</strong>
          <span class="price">{{currency}}{{grandTotal | number:'.2-2'}}</span>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button color="primary" expand="block" class="continue-btn btn-lg block" (click)="navigateTo()">
          {{'Continue' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>