<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sign-up"></ion-back-button>
    </ion-buttons>
    <ng-container *ngIf="!isLoggedIn; else changeZip;">
      <ion-title>
        {{"SIGN UP" | translate}}
      </ion-title>
    </ng-container>
    <ng-template #changeZip>
      <ion-title>
        {{"CHANGE ZIPCODE" | translate}}
      </ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content class="page-registration">

  <div style="background-image: url(assets/img/bg.jpg);" class="bg-image">

    <div class="page-registration__card">
      <div class="page-registration__card-brand">Chefresco Meals</div>
      <ng-container *ngIf="!isLoggedIn; else enterZip;">
        <h1><strong>Dinner's Here!</strong></h1>
        <h3>
          <div>{{ "Chef-Crafted Meals" | translate}}</div>
          <div>{{ "Delivered Weekly" | translate}}</div>
        </h3>
      </ng-container>
      <ng-template #enterZip>
        <h3>{{"enter new zipcode" | translate}}</h3>
      </ng-template>
      <form [formGroup]="user" (ngSubmit)="continue()">
        <!--email-->
        <ion-row [hidden]="isLoggedIn">
          <ion-col col-12>
            <ion-item>
              <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!--Zip-->
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input placeholder="Zipcode" type="text" formControlName="zip" appNumbersOnly maxlength="5"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <!--button-->
        <ion-row>
          <ion-col col-12>
            <ion-button expand="block"
                        class="login-btn"
                        type="submit"
                        [disabled]="!user.valid">{{"Continue" |
                          translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

      <ion-row *ngIf="!isLoggedIn">
        <ion-col col-12>
          <span class="page-registration__login-question">
            Already have an account? 
            <a class="page-registration__login" (click)="navigateToLogin()">
              Log in
            </a>
          </span>
        </ion-col>
      </ion-row>

    </div>

  </div>
</ion-content>