@import '../../../theme/custom/variables';
@import '../../../theme/fonts.scss';

.page-registration {
    .bg-image {
        height: 100%;
    }

    ion-input {
        text-align: center;
        font-size: 14px;
    }
}

.page-registration__card {
    border-radius: 4px;
    padding: 20px 0;
    margin: 0 25px;
    position: relative;
    top: 25px;
    background-color: $white-alpha;
    text-align: center;
}

.page-registration__card-brand {
    font-size: 13px;
    font-family: $font-family-3;
}

.page-registration__login-question {
    font-size: 13px;
}
.page-registration__login {
    color: #3300ff;;
}