<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Thank You' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="page-thankyou">
  <ion-row>
    <ion-col col-12>
      <div class="thanks">
        <h2>{{'Thank you !' | translate}}</h2>
        <p>{{"We love our customers and we value your business. we want to thank you for giving us the oppurtunity to
          serve you. Our customer service always open to hear feedback from you.thanks you!" | translate}}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-button expand="block" class="login-btn" type="submit" href="/home" routerDirection="root">{{"Shop more" |
    translate}}</ion-button>
</ion-content>