<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"About Us" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="page-about-us">

  <ion-slides initialSlide=0 speed=2000 loop=true dir="rtl">
    <ion-slide>

      <img src="assets/img/about_us.jpg" class="slider-img">
      <!-- <div class="slide-title">
        {{"We provide better service" | translate}}
      </div> -->
    </ion-slide>
    <ion-slide>
      <img src="assets/img/about-us.jpg" class="slider-img">
      <!-- <div class="slide-title">
        {{"We believe satisfaction of our client" | translate}}
      </div> -->
    </ion-slide>
    <ion-slide>
      <img src="assets/img/about_us.jpg" class="slider-img">
      <!-- <div class="slide-title">
        {{"We provide better service" | translate}}
      </div> -->
    </ion-slide>


  </ion-slides>




  <!--about-->
  <div class="wrapper">
    <h4 class="heading">About Us </h4>
    <p class="details">{{description}}</p>

    <!--Get in touch-->
    <h4 class="heading">{{"Get In Touch" | translate}} &nbsp;
      <ion-icon name="arrow-dropdown"></ion-icon>
    </h4>
    <ion-card>
      <ion-card-content (click)="callUs()">
        <ion-icon name="call"></ion-icon> &nbsp; {{"Call us" | translate}}
      </ion-card-content>
      <ion-card-content (click)="contactUs()">
        <ion-icon name="mail"></ion-icon>&nbsp; {{"Email us" | translate}}
      </ion-card-content>
      <ion-card-content (click)="navigateTo()">
        <ion-icon name="locate"></ion-icon> &nbsp; {{"Locate us" | translate}}
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>