.address-page {
    --inner-border-width: 0!important;


    --border-radius: 0!important;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: $dark-grey;

  .form-data {
          background: transparent!important;
    .item {
      border: 1px solid;
      border-color: rgba(0,0,0,0.1);
      margin: 10px 0;
      border-radius: 5px;
      padding-left: 5px;
      background: $white;
    }

    .form-half {
      display: flex;

      .left {
        margin: 0 5px 0 0;
      }

      .right {
        margin: 0 0 0 5px;
      }
    }

    .full-address {
      height: auto;
    }
  }

  .buttons {
    .button {
      display: block;
      margin: 1em auto;
    }

    .cancel {
      background-color: transparent;
      box-shadow: none;
      color: $black;
      border: 1px solid;
      border-color: rgba(0,0,0,0.1);
    }
  }

}
