.page-address-list {
  .item{
    height:auto;
  }
  .amount-block{
   background-color:$light;
   margin: 0 0 1em 0;
 .loyality-check{
     .label{
       color:$grey;
       font-size: 1.6rem;
     }   
   }
   .total{
      font-size: 12px;
      color: $grey;
      font-style: italic;
      padding:0 5px 0 16px;
   .currency{
      font-size: 16px;
      color: $primary !important;
   }
 }
 .right{
     float:right;
   }
    .item{
      --background: transparent !important;
       ion-checkbox{
         margin: 0 0 0 15px;
       }
    }
    .checkbox .checkbox-checked {
      border-color: $primary;
      background-color: $primary;
    }
     .item-inner{
        border-bottom:0 !important;
     }
     .checkbox{
        margin: 9px 36px 9px 20px!important;
     }
  }
  
  .item{
    padding-left: 0;  
   .label {
     margin: 13px 8px 13px 0;
     padding-left: 16px;
     font-size: 1.8rem;
    }
     ion-icon {
       font-size: 1em;
       float: right;
       font-weight: 700;
}
   
  }
   .booking-block{
      margin:1em 0;

  .col{
      padding:0 !important;
  }
  .border{
      border-right: 1px solid;
      border-color: rgba(0,0,0,0.1);
  }
.booking-opt{
      padding:0;
      background-color:$dark;
  
  .label{
     margin-left: 8px;
       color: $white;
  }
  .item-inner{
    border:0;
  }
  }
   .radio .radio-checked {
    display:none;    
      }
      .radio .radio-inner {
          background-color:$primary !important;   
     }
      .radio .radio-icon{
        display:none;
      }
     .item-radio-checked{
        background-color:$primary !important;
     }
}
  .button{
    margin-top: 1em;
  }
  .add{
    background-color: $light-grey;
    border: 0;
  }
  .select-address{
     .col{
       padding: 0 15px;
       border-bottom: 1px solid;
       border-color: rgba(0,0,0,0.1);
        .show-address{
            font-size: 1.5rem;
            margin: 10px 0;
           
        }
     }          
     
  }  

   .continue-btn{
    background-color: $primary !important;
   }
     .warning {
    color:$primary;
    margin-left: 15px;
  }
.address-row{
  .col{
    padding: 0;
  }
  .delete-btn{
    background-color: transparent!important;
    margin-top: 55px;
    box-shadow: none;
    color: red;
    font-size: 22px;
    &.edit{
      color: $primary;
    }
  }
}
}
