.page-cart{ 
    //  background-image: url(assets/img/bg.jpg); 
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     .price-details {
       display: flex;
       width: 97%;
     }
     h4 {
       font-size: 2.2rem;
       text-align: center;
       color:$white;
      
     }
     .cart-list {
       background-color: #FFFFE0;
       margin-bottom: -12px !important;
       p{
        margin: 0 0 4px 5px;
        opacity: 0.76;
       }
       .cart-item {
         background-color: #FFFFE0;
         padding: 1rem 0;
         .close-btn {
           top: 33%;
           left: -32%;
           color: $dark-grey !important;
         }
         img {
           height: 91px;
           width: 100%;
         }
         .item-name {
           font-weight: 700;
           font-size: 17px;
           opacity: 0.7;
         }
         .item-detail {
           font-size: 13px;
           line-height: 1.3em;
           white-space: initial !important;
   
         }
         .item-price {
           font-weight: 700;
           color: $primary;
         }
        
   
       }
     }
   
     .calculate {
       margin: 0 4px;
       .bill-detail {
         color: rgb(102, 102, 102) !important;
         padding: 10px 3px 0px 2px;
         font-size: 16px;
         font-weight: 400;
         span {
           float: right;
           font-weight: 600;
         }
       }
       .cart-total {
         font-size: 1.2em;
         padding: 7px 0px;
         color: #666;
         span {
           float: right;
           font-weight: 700;
           color: $primary
         }
       }
     }
     .continue-btn {
       margin-top: 1em;
     }
     .empty-btn{
       background-color: $primary !important;
       margin: 3em auto;
       display: block;
     }
     .count-row{
      margin-top: 10px;
     .count {
       .item-count {
         padding: 3.5px 11px;
         font-size: 18px;
         font-weight: 700;
         color: #fff;
         background-color: $grey;
       }
       .show-count {
         background-color: #32cd32 !important;
       }
       }
       ion-icon{
        color:$danger;
        font-size: 1.5rem;
        margin-top: -2px;
    
     }
      }
       .apply-coupon-btn{
        color: $primary;
        border-color: $primary;
       }
       .invalid-text{
         color: $danger;
       }
       .input-coupon
       {
           border: 1px solid rgba(0, 0, 0, 0.25);
           height: 36px;
           margin-top: 8px;
       }
     .select-item
     {
       margin-top: 6px;
       .label
       {
         color: #424242!important;
         font-size: 14px!important;
       }
       ion-select
       {
         padding-left: 0!important;
         font-size: 14px!important;  
   
       }
     } 
     .empty-cart{
       font-size: 10.2em;
       display: block;
       margin: .2em auto 0;
       color: $primary;
     } 
     .coupon-applied{
       color:$primary;
     }
   }