.page-category {
  ion-item{
    border-bottom: 1px solid $white-b;
    img { height: 58px; }    
    }
  ion-label {
    white-space: normal;
  }
  p {
    margin:0;
     .heading {
      font-size: 14px;
      font-weight: 700;
      color: $dark-grey;
      margin: 6px 0 2px;
    }

    .detail {
        font-size: 13px;
        margin: 0px 0 8px;
        color: $grey; 
        white-space: pre-wrap;
    }
  }

  .item-md ion-thumbnail img {
    height: 5em;
    width: 5em;
  }
}
