@import '../fonts.scss';
@import './variables.scss';
:root {
    /* Set the font family of the entire app */
    --ion-font-family: "Montserrat", "Roboto", sans-serif;
}
a {
  color: inherit;
}

ion-button, ion-title, h1, h2, h3 {
  font-family: $font-family-1;
}

ion-input, ion-select, .sc-ion-input-ios-h {
  border: 1px solid;
  border-radius: 3px;
  --padding-start: 8px;
  input:read-only, .native-input.sc-ion-input-md:read-only {
    background: $light;
  }
}

h6 {
  font-size: 16px;
  font-family: $font-family-1;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-family: $font-family-1;
}



ion-menu-toggle{
  font-size: 28px;
}
.bg-image{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//remove scroller
::-webkit-scrollbar {
  display: none;
}
// --------------
.cart-btn {
  font-size: 20px!important;
  margin-right: 6px;

  .carts {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 700;
    height: 19px;
    width: 19px;
    line-height: 16px;
    padding: 1px 1px 0 2px;
  }

}
//cart icon nagigation
.cart-icon-nav {
  position: absolute;
  right: 12px;
  top: -3px;
}

ion-badge {
  display: inline-block;
  font-size: 11px;
  padding-top: 5px;
  padding-left: 7px;
}

.menu-badge {
  color: #fff;
  background-color: $primary;
  float: right;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 12px;
  padding: 0;
  line-height: 23px;
}

// sidebar-header
.menu {
  .sidebar-menu {

    // background-color: $dark-grey;
    .list-md {
      margin: 24px 0 16px;
    }

    .menu-bg {
      height: 115px;
      width: 100%;
    }

    .list .item-block .item-inner {
      border-bottom: 0;
    }

    .item.item-block .item-inner {
      border-bottom: 0;
    }

    .menu-item {
      background-color: transparent;
      color: $white;
      font-size: 1.3rem;
      border-bottom: 1px solid;
      border-color: rgba(0, 0, 0, 0.2);
      width: 100%!important;
      --padding-top: 7px;
      --padding-bottom: 7px;
      --background: transparent!important;
      ion-icon {
        margin-right: 13px;
        color:$white;
      }

      ion-badge {
        position: absolute;
        right: 36px;
      }
    }

    .img-name-row {
      text-align: center;

      .img-name-row-chef-icon {
        width: 50px;
        margin: auto;
        margin-top: 25px;
      }
      .user-img {
        max-width: 100%;
        height: 7em;
        width: 7em;
        border: 3px solid $white;
        border-radius: 50%;
        margin-top: 24px;
      }
    }

    .user-name {
      color: $white;
      font-size: 2rem;
      text-align: center;
      margin: 0;
    }
  }
}

.empty-list{
  opacity: 0.8;
  margin-top: 30%;
  text-align: center;
  ion-icon{
    color: $primary;
    font-size: 50px;
  }
  p{
    color: $grey;
    margin-top: 10px;
    font-size: 23px;
  }
}

.link {
  // text-decoration: underline;
}

.link--white {
  color: white;
}
.link--blue {
  color: $link-blue;
}


.padding {
  padding: 10px;
}

.app-sub-header {
  text-align: center;
  font-family: $font-family-4;
  font-weight: bold;
  padding: 10px;
  background: $white-a;
  text-align: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
}

.gray-header {
  font-family: $font-family-2;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
  background: $white-a;
  padding: 10px;
  color: $dark;
  font-size: 20px;
}

.colored-header {
  font-family: $font-family-1;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
  padding: 5px;
  color: $grey;
  &--pink {
    background: $category-pink;
  }
  &--blue {
    background: $category-blue;
  }
  &--brown {
    background: $category-brown;
  }
  &--yellow {
    background: $category-yellow;
  }
  &--orange {
    background: $category-orange;
  }
  &--purple {
    background: $category-purple;
  }
  &--turquoise {
    background: $category-turquoise;
  }
}


.chef-title {
  font-family: $font-family-3;
  font-size: xx-large;
  flex-grow: 4;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
  text-align: center;
}

.error {
  color: red;
}

.error--small {
  font-size: 12px;;
}

ion-content {
  display:flex;
}

