.page-contact {
      .bg-image{
        height: 100%;
        margin-top: -29px;
        padding-top: 39px;
      }
    .wrapper{
        padding: 0 10%;
    }
    .contact-head {
      text-align: center;
      color: $white;
      font-size: 1.5rem;
    }
    .item {
      background-color: rgba(255, 255, 255, 0.22);
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    .item.item-block .item-inner {
      border-bottom: 0px;
    }
    .item-input .label {
      color: $white;
    }
 
  }
  