.page-favourite {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
    p{
      color: $grey;
      margin: 0;
      font-size: 14px;
    }
    .list {
      margin: 0;
    }
    h4 {
      font-size: 2.2rem;
      text-align: center;
      color: $white;
    }
  
    ion-label {
      white-space: normal;
      margin: 6px 8px 13px 0 !important;
    }
    .heading {
      font-size: 15px;
      font-weight: 700;
    }
    .news-item{
      border-bottom: 1px solid $white-b;
      padding: 8px 0;
      .details{
        margin-top: 4px;
        height: 33px;
        overflow: hidden; 
      }
    }
    .item {
      align-items: flex-start;
    }
    .item ion-thumbnail img {
      height: 5em;
      width: 5em;
    }
    .add-col{
      padding-left: 0;
    }
    ion-button.btn-lg.block{
      --height: 38px;
    }
    .empty-cart {
      font-size: 10.2em;
      display: block;
      margin: .2em auto 0;
      color: $danger;
    }
    .continue-btn {
      background-color: $primary !important;
      color: #fff;
      padding: 13.5px 30px;
      box-shadow: none;
      display: block;
      margin: 2em auto 0;
      border-radius: 0;
    }
  }
  