ion-item {
    --inner-border-width: 0!important;
  }
  
  ion-button {
    --border-radius: 5px!important;
  }
  ion-button.btn-lg.block{
  --height: 46px;
  }

  
 /*common-header*/
.toolbar-background {
    background: $primary !important;
    text-transform: uppercase;
  }
  
  .toolbar-title {
    color: $white;
  }

 
  