.page-login {
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --background: url(assets/img/menu-bg.jpg) !important;
    ion-input, ion-label {
      color: white;
      border-color: white;
    }
  p{
    color: #fff;
  }
   .btn-log-in {
      background-color: $primary;
    }
    .item {
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      ion-label, ion-input{
        color: $white-a;
      }
      --background: transparent;
  
    }
    .item.item-block .item-inner {
      border-bottom: 0;
    }
    .item-input .label {
      color: $white;
    }
      .logo {
        display: block;
        margin: 0 auto;
        padding-top: 4em;
        padding-bottom: 2em;
      }
    .login-btn {
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      font-weight: 400;
      width: 90%;
    }
    .social-icon {
      width: 86px;
      padding: 0px 20px;
    }
  }