.page-news {
  .item-block {
    align-items: flex-start !important;
  }
  ion-label {
    white-space: initial !important;
  }
}

.page-news-detail {
    .news-head {
        margin: 20px 0 0;
        font-size: 1.6rem;
      font-weight: 700;
      color: $dark-grey;
      font-size: 19px;
    }
    .news-time {
      padding-left: 4px;
      font-size: 10px;
      color: $grey;
      font-weight: 500;
    }
    .description{
      color: $grey;
      font-size: 14px;
    }
  }
  