.page-offer { 
  ion-card{    
    margin: 10px;
      img{
         height:136px;
      }

    ion-button{
       margin:0;
    }
  }

  ion-card-content{
    padding: 5px 10px;
    h6{
      font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    
  }
  
    .offer-label {
      position: absolute;
      top: 0px;
      left: 12px;
      z-index: 999;
    }
    .price {
      text-align: left;
      margin: 4px 0;
      position: absolute;
      top: -37px;
      right: 0;
      background: rgba(0,0,0,0.6);
      padding: 3px;
    }
    .desc {
      text-align: left;
      margin: 4px 0;
      font-size: 14px;
      margin-bottom: 0;
    }
    .total {
      font-size: 18px;
      font-weight: 700;
      color: #fff;
    }
    .line {
      text-decoration: line-through;
      color: $primary;
    }
    .square {
      background-color: $danger;
      color: $white;
      display: block;
      width: 28px;
      line-height: 26px;
      font-size: .8em;
      text-align: center;
      position: absolute;
      top: 0;
      font-weight: 600;
    }
 
    .btn-add-to-cart {
      background-color: $primary !important;
      color: #fff;
      padding: 22.2px;
      box-shadow: none;
      font-size: 14px;
      margin: 0;
      position: fixed;
      bottom: 0;
  
    }
  }
  