.page-order-details {

    .card-title{
      position: absolute;
        font-size: 2.0em;
        width: 100%;
        color: #fff;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 3px;
        text-align: center;
    }
      .order-full{
         margin: 5px 0 8px 0;
         border-bottom: 1px solid;
         border-color: rgba(0,0,0,0.2);
     .product-image {
      width: 100%;
      height: 100%;
      position: relative;
    }
    .prod-detail{
      padding:.2em 1em;
       h5{ 
         font-weight: 300;
         margin:0;
         font-size: 1.45rem;
       }
       
    }
    p {
         margin: 5px 0;
         padding:0 1em;
        span{
            color:$primary;
            font-weight:700;
        }
       }
     }
     .details{
        padding:.2em 1em;
     }
     .check{
       color:$primary;
       font-weight: 700;
       font-size: 1.4em;
     }
     .data{
       color:$grey;
     }
     .amount{
       color:$dark-grey;
       font-size:20px;
       font-weight:700;
     }
     .pay{
       @extend .data;
       font-size:12px;
     }
     .btn-add-to-cart {
      background-color: $primary !important;
      height: 2.8rem;
      font-size: 1.2rem;
      font-weight: 400;
  }
  .product-rating{
      ul {
    padding: 0px 10px;
    margin: 3px 0;
    
    &.rating li {
      padding: 1px !important;
      background: none;
      color: #ffb400;
   
      ion-icon {
        font-size: 20px;
      }
    }
  }
  }
   .rating-Button {
    background-color: $primary;
    height: 2.8rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .track-btn{
     background-color: $primary !important;
      height: 46px;
      font-size: 1.8rem;
      border-radius: 0;
      margin-top: 1em;
  }
  }
  