.page-order-status {
    .top {
      background-color: #E6E6FA;
      height: 80px;
      width: 100%;
      padding-top: 20px;
      margin-bottom: 2rem;
      p {
        text-align: center;
        font-size: 26px;
        color: #666;
        margin: 0;
      }
    }
    .address{
      margin: 0;
      padding: 1rem;
      opacity: 0.8;
    }
    .status-block {
      border-bottom: 1px solid #dedee6;
      padding-bottom: 8px;
      padding: 8px 2px 8px;
      p {
        font-size: 1em;
        white-space: normal;
        overflow: visible;
        margin: 8px 0 0 15px;
        color: #757677;
        font-weight: 600;
        span {
          float: right;
          font-size: 10px;
          margin-top: 7px;
        }
  
      }
      .checked {
        color: $primary !important;
        font-size: 2em;
      }
      .cancelled{
        color: $danger !important;
        font-size: 2em;
      }
      .time {
        font-size: 12px;
        font-weight: 600;
        margin: 0 0 5px 26px;
        color: #a9a9ab;
        position: absolute;
        right: 8px;
        top: 18px;
    }
        
    }
    .list {
      margin-top: 2em;
      .item {
        border-bottom: 1px solid;
        border-color: rgba(0, 0, 0, 0.05);
        min-height: 60px;
      }
      .item-inner {
        border-bottom: 0 !important;
      }
      .label {
        overflow: visible;
      }
    }
    .thanx {
      text-align: center;
      font-size: 20px;
    }
  }
  