.page-orders {
    ion-row{
      border-bottom: 1px solid $light-grey;
    }
      .no-order{
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .home{
         text-align: center;
         display: block;
         text-decoration: none;
         font-weight: 600;
         color: $primary;
         font-size: 1.2rem;
      }
    .orders-list {
      .orders-item {
        padding: 0px !important;
        p{
            margin: 0;
        }
        img {
          min-height: 60px;
          width: 100%
        }
        .item-name{
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 2px;
        } 
        .date {
          font-weight: 400;
          font-size: 10px;
          line-height: 20px;
          
        }
        .item-price {
          font-weight: 700;
          color: $primary;
        }
        .btn-cart {
          height: 2.2rem;
          width: 2.2rem;
          float: right;
          box-shadow:none;
        }
        .btn-view{
          float: right;
          margin: 1.2rem 0.2rem;
          padding: 0 1em;
          height: 2.2rem;
          background-color: $primary;
          font-size: 1rem;
          box-shadow:none;
          width: 66%;
        }
        ion-button{
            font-size: 12px;
        }
      }
    }
  
      .empty-cart{
      font-size: 10.2em; 
      display: block;
      margin: .2em auto 0;
      color: $white;
    }
     .bg {
    background-image: url(assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
   h4 {
      font-size: 2.2rem;
      text-align: center;
      color:$white;
    }
     .continue-btn {
      background-color: $primary !important;
      color: $white;
      padding: 13.5px 30px;
      box-shadow: none;
      display: block;
      margin: 2em auto 0;
      border-radius: 0;
    }
      h4 {
      font-size: 2.2rem;
      text-align: center;
      color: $primary;
    }
    .empty-cart {
      font-size: 10.2em;
      display: block;
      margin: .2em auto 0;
      color: $primary;
    }
  }
  