.page-product-details {
    h5{
      font-size: 20px;
      margin-left: 8px;
    }
    .slider {
      img {
        width: 100% !important;
        height: 192px !important;
      }
    }
    .text-over-image {
      color: $white;
      font-size: 18px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.6);
      position: relative;
      width: 100%;
      margin: -55px 0px 0px 0px;
    }
  
    .productImage {
    }
    .prod-price {
      font-weight: 700;
      color: $primary;
    }
    .item.item-block .item-inner {
      padding-right: 5px;
      border-bottom: 0px;
    }
     .count-full{
      .col{
        padding: 5px 5px 0;
      }
    .count {
      display: flex;
      margin: 5px 0 0;
      .item-count {
        display: block;
        height: 36px;
        width: 53px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        background-color: #777;
      }
      .show-count {
        background-color: $primary !important;
        font-weight: 700;
      }
    }
    }
    .label {
      margin: 0px 0px 0px 0;
    }
    .btn-add-to-cart {
      background-color: $primary !important;
      color: $white;
      padding: 22.2px;
      box-shadow: none;
      font-size: 14px;
      margin: 0px;
    }
    .extra-list {
      margin: 5px 4px 16px 4px;
      border-bottom: 1px solid #dedede;
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede;
      .header {
        color: $white;
        background-color: $grey;
        margin: 0;
        border: 0;
      }
  
      .toggle .toggle-checked {
        background-color: #32cd32;
        width: 45px;
        height: 26px;
      }
      .toggle .toggle-icon {
        width: 45px;
        height: 26px;
      }
      .toggle .toggle-inner {
        position: absolute;
        top: 1px;
        left: 3px;
        width: 22px;
        height: 22px;
        background-color: $white;
      }
    }
  
    .size-list {
      @extend .extra-list;
      .size-list-header {
        @extend .header;
      }
      .size-list-item {
        .checkbox .checkbox-checked {
          background-color: transparent !important;
          border: none !important;
        }
        .checkbox .checkbox-icon {
          border: none !important;
        }
  
        .checkbox .checkbox-checked .checkbox-inner {
          width: 10px !important;
          height: 20px !important;
          border-color: #32cd32 !important;
          border-width: 4px !important;
          border-top-width: 0 !important;
          border-left-width: 0 !important;
          border-style: solid !important;
        }
  
      }
    }
    .checkbox-checked + .size-list-item {
      background-color: $secondary !important;
      color: red
    }
    .fav{
      color: $danger;
      font-size: 40px;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
    .heart-clicked{
      color:$primary;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 40%;
      margin-bottom: -3px;
      display: block;
    }
  }
  