.page-product-list {
    p{
        margin: 0;
    }
    .item {
      margin-bottom: 1rem;
      .label {
        margin: 9px 0px 0px 0px;
      }
    }
    .catagory {
      img {
        height: 100px;
        width: 100%;
      }
      .item-name {
        font-weight: 700;
        font-size: 17px;
        white-space: nowrap;
        margin-bottom: 4px;
      }
      .item-detail {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        display: -webkit-box;
        line-height: 16px;
        max-height: 62px;
        font-size: 15px;
        opacity: 0.8;
        margin-bottom: 4px;
        margin-top: 10px;
      }
      .item-price {
        font-weight: 700;
        color: $primary;
        font-weight: 500;
      }
    }
  
    .list {
      margin: -1px 0 0px 0;
    }
    .product-rating{
      font-size: 11px;
      margin-top: 6px;
      h6{
        display: inline;
        opacity: 0.76;
        font-weight: 400;
        margin-left: 5px;
      }
      ul {
    padding: 0px;
   
    &.rating li {
      padding: 1px !important;
      background: none;
      color: #ffb400;
   
      ion-icon {
        font-size: 20px;
      }
    }
  }
  }
  
  }
  