.page-rating {

    .product-rating{
      ul {
    padding: 5px 10px;
    text-align: center;
   
    &.rating li {
      padding: 1px !important;
      background: none;
      color: #ffb400;
   
      ion-icon {
        font-size: 30px;
      }
    }
  }
  }
  
  ion-textarea{
      border: 1px solid $primary;
      border-radius: 10px;
  }
  ion-label{
          margin-left: 12px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      color: $primary;
  }
  .button{
      margin-top: 1em;
  }
  }
  