.page-registration {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $dark;
    color: $white;
    background-size: cover;
    color: $white;

    ion-input {
      border: none;
    }
    p{
      color: #fff;
    }
    .item {
      // background-color: rgba(119, 119, 119, 0.8);
      width: 80%;
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      ion-label, ion-input{
        // color: $white-a;
      }
      // --background:rgba(119, 119, 119, 0.8);
    }
    .item.item-block .item-inner {
      border-bottom: 0px;
    }
    .item-input .label {
      color: $white;
    }
      .logo {
        width: 86px;
        display: block;
        margin: 0 auto;
        padding-top: 4em;
        padding-bottom: 2em;
      }
    .login-btn {
        width: 80%;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        font-weight: 400;
    }
    .social-icon {
      width: 86px;
      padding: 0px 20px;
    }
  }
  