.page-settings {
    .img {
      display: block;
      margin: 6px auto;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      border: 3px solid;
    }
    .name{
      text-align: center;
      font-size: 1.5rem;
      margin: -23px;
    }
    .email{
      @extend .name;
      font-size:14px;
      padding: 1em 0px;
      margin: 1em 0px;
    }
    .upload{
      position: relative;
      top: -34px;
      font-size:2em !important;
      margin: 0 auto;
    }
    .item{
      border-bottom:1px solid $light-grey;
      height: 58px;
      padding-top: 7px;
    }
    .item.item-block .item-inner {
      border-bottom:0px;
    }
    .label {
      color: $black !important;
      font-weight:400;
    }
    .login {
      background: url("assets/img/bg.jpg") no-repeat center;
      background-size: cover;
      color: $white;
      height: 200px;
      .logo {
        width: 86px;
        display: block;
        margin: 0 auto;
        margin-top: 4em;
        padding-bottom: 2em;
      }
    }
    .login-btn {
      width:100%;
      border-radius:0px;
      margin:0px;
      height: 4.4rem;
      background-color: $primary;
    }
    .social-icon {
      width: 86px;
      padding: 0px 20px;
    }
    .inputfile {
       width: 0.1px;
       height: 0.1px;
       opacity: 0;
       overflow: hidden;
       position: absolute;
       z-index: -1;
     }
     .inputfile + label {
       font-size: 2.7em;
       font-weight: 700;
       color: white;
       background-color: transparent;
       display: inline-block;
       display: block;
       margin: auto;
       width: 20%;
       text-align: center;
   }
   .toggle .toggle-checked {
      background-color: $light-grey !important;
  }
  .toggle .toggle-checked .toggle-inner {
     background-color: $primary!important;
  }
   .toggle.toggle-checked .toggle-inner {
      background-color: $primary;
  }
  }
  