.page-thankyou{
      background-color: $white !important;
      .thanks {
        text-align: center;
        margin: 0 auto;
        
        h2 {
          margin-top: 6.8rem;
          font-size: 2rem;
          font-weight: 600;
        }
        p {
          line-height: 2.5rem;
          font-weight: 500;
          font-size: 15px;

        }
      }
  
        .continue-btn{
          height: 4.6rem;
          border-color: $primary;
          color: $primary;
          display: block;
          margin: 0 auto;
     }
  }
  