$primary: #399E02;
$primary-alpha: rgba(57, 158, 2, .15);
$primary-alpha-2: rgba(57, 158, 2, 0.075);
$primary-lighter : #FFCC80;
$secondary: #387ef5;
$tertiary: #9700e8;
$danger: #f53d3d;
$light: #f4f4f4;
$dark: #333;
$white: #fff;
$white-alpha: rgba(255, 255, 255, 0.65);
$black: rgba(#000000, .8);
$grey: #777;
$light-grey: #ccc;
$dark-grey:#424242;
$light-green:#f9ae3e;
$light-white:#888888;
$white-a :#f3f0f0;
$white-b :#e9e7e7;
$link-blue: #00A5A0;
$link-green: #58d303;
$yellow: #ffe170ad;
$accent-green: #bde7a5d1;
$gold: #ffd70099;
$category-pink: #FDE3F2;
$category-orange: #FDEFDF;
$category-blue: #DFE0FD;
$category-yellow: #FDFCDF;
$category-purple: #F3DFFD;
$category-brown: #FFE7DF;
$category-turquoise: #DFFCFD;
