<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="order-details"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Your Rating" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="page-rating">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <rating name="rating" id="rating" [(ngModel)]="review.rating" readOnly="false" max="5" emptyStarIconName="star-outline"
      halfStarIconName="star-half" starIconName="star" nullable="false">
    </rating>
    <br /><br />

    <ion-label text-left>{{"Review" | translate}}</ion-label>
    <ion-textarea rows="3" name="message" id="message" [(ngModel)]="review.comment" required></ion-textarea>

    <ion-button color="primary" expand="block" class="btn-lg block" type='submit' [disabled]="!f.valid && isSaved">
      {{"Submit" | translate}}
    </ion-button>
  </form>
</ion-content>