<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cart"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Payment Options" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="page-checkout">
  <div radio-group class="radio-list">
    <p class="card-title">{{"Payment Options" | translate}}</p>

    <ion-radio-group>
      <div class="card-type">
        <ion-item class="radio-item" *ngFor="let payment of paymentTypes">
          <ion-label>{{payment?.type}}</ion-label>
          <ion-radio slot="start" value="{{payment?.value}}" checked={{payment?.default}} (ionSelect)="choosePaymentType(payment.type)"></ion-radio>
          <img *ngIf="payment.logo" src="{{payment?.logo}}" slot="end">
        </ion-item>
      </div>
    </ion-radio-group>

    <section class="payment" *ngIf="orderInfo.paymentOption =='Stripe'">
      <!-- <ion-list *ngIf="stripeCardList.length >0">
        <ion-list-header>
          {{"Saved Card List" | translate}}
        </ion-list-header>
        <ion-radio-group>
          <ion-row class="card-row" *ngFor="let card of stripeCardList ; let i = index ">
            <ion-col size="10">
              <ion-item>
                <ion-label>
                  <p>{{card?.lastFourDigit}}</p>
                </ion-label>
                <ion-radio (ionSelect)="selectedCard(i)"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <button ion-button class="delete-btn" (click)="onDeleteCard(i)">
                <ion-icon name="trash" slot="end"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <div *ngIf="isCardSelected">
          <ion-input class="cvv-input" type="number" [(ngModel)]="cvc" placeholder="Enter CVC"></ion-input>
        </div>
      </ion-list> -->

      <!-- <ion-item class="check-item">
        <ion-label>{{"Save My Card Details" | translate}} </ion-label>
        <ion-checkbox color="primary" [(ngModel)]="isSaveCard" checked="false" (ionChange)="onSaveCard()"></ion-checkbox>
      </ion-item> -->
      <ion-item class="check-item">
        <ion-label> {{"Use New Card" | translate}} </ion-label>
        <ion-checkbox color="dark" [(ngModel)]="newCardSelect" checked="false"></ion-checkbox>
      </ion-item>
      <form class="form-data" #f="ngForm" *ngIf="newCardSelect">
        <ion-item>
          <ion-input type="number" name="cardNumber" id="cardNumber" placeholder="Card Number" [(ngModel)]=cardInfo.cardNumber
            required></ion-input>
          <ion-icon name="card" slot="end"></ion-icon>
        </ion-item>
        <ion-row>
          <ion-col size="2">
            <ion-item>
              <ion-input type="number" name="month" id="month" placeholder="MM" [(ngModel)]=cardInfo.expiryMonth
                required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-input type="number" name="year" id="year" placeholder="YYYY" [(ngModel)]=cardInfo.expiryYear
                required></ion-input>
              <ion-icon name="calendar" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="right">
              <ion-input type="number" name="cvc" id="cvc" placeholder="Card Code" [(ngModel)]=cardInfo.cvc required></ion-input>
              <ion-icon name="code" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-input type="text" name="cardName" id="cardName" placeholder="Card Holder's Name" required></ion-input>
          <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>
      </form>
    </section>

    <div class="btn-wrapper">
      <ion-button expand="block" class="btn-lg block" (click)="checkout()">
        {{"Pay Now" | translate}}
      </ion-button>
    </div>

  </div>

</ion-content>