<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-title>
            {{"checkout" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-sub-header">Order Confirmation</div>
    <br />
    <div class="order-summary-confirmation__confirm-text">
        <div class="order-summary-confirmation__order-placed">
            <div><strong>Your order has been placed!</strong></div>
            <div class="order-summary-confirmation__confirmation-text">Confirmation#</div>
            <div class="order-summary-confirmation__confirmation-num">{{confirmationId}}</div>
        </div>
        <div class="order-summary-confirmation__home-button" (click)="navigateHome()">
            Home
            <ion-img src="assets/icon/arrow-right.svg"></ion-img>
        </div>
    </div>
    <app-order-summary-view [readonly]="true"></app-order-summary-view>

    <!-- <div class="padding">
        <ion-row class="page-sign-up__login">
            <ion-col col-12>
                <ion-button color="light" expand="full"
                            type="button">{{"Cancel Order" | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </div> -->
</ion-content>