@import "../../../theme/custom/variables.scss";

.billing-zip-code-label {
    font-size: 12px;
    white-space: inherit;
}

.card-error {
    color: red;
    text-align: center;
    font-size: 13px;
}

.order-summary-payment__total {
  background: $white-a;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border-radius: 4px;
    background-color: white;
  
    border: 1px solid black;
    border-radius: 3px;
    background-color: white
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }