@import "../../../theme/custom/variables.scss";
@import "../../../theme/fonts.scss";

.order-summary-view-meal {
    align-items: center;
    font-family: $font-family-2;
    font-weight: 100;
    letter-spacing: .5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background: white;
    overflow: hidden;
    margin-bottom: 15px;
}

.order-summary-view-meal__thumbnail {
    --ion-grid-column-padding: 0;
    margin-bottom: -4px;
    ion-img {
        height: 65px;
        object-fit: cover;
    }
}

.order-summary-view-meal__title {
    background: $primary;
    width: 100%;
    padding: 5px;
    color: $white;
    font-weight: 400;
}
.order-summary-view-meal__customizations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.order-summary-view-meal__customization {
    border-left: 3px solid $primary;
    padding-left: 10px;
    width: 50%;
    font-size: 14px;
    margin-bottom: 5px;
    align-self: center
}
.order-summary-view-meal__customization--special-request {
    border-left: 3px solid $tertiary;
}
.order-summary-view-meal__quantity {
    color: $grey;
    font-family: $font-family-1;
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: 13px;
}

/* Portrait */
 
@media only screen
and (min-device-width: 300px)
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .order-summary-view-meal__customization {
        font-size: 12px;
    }
}