<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="product-list;menuId={{FOOD_CATEGORY}}"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{"checkout" | translate}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="navigateHome()">
                <ion-icon slot="end"
                          name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-sub-header">Confirm Your Order</div>
    <br />
    <app-order-summary-view></app-order-summary-view>

    <div class="padding">
        <ion-row class="page-sign-up__login">
            <ion-col col-12>
                <ion-button color="primary"
                            expand="full"
                            (click)="submitOrder()"
                            type="button">{{"Submit Order" | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>