<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="product-list;menuId={{FOOD_CATEGORY}}"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{"checkout" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-sub-header">Payment Info</div>
    <br />
    <app-order-summary-view [sectionsToHide]="HIDDEN_SECTIONS"></app-order-summary-view>

    <div class="padding">
        <h3 text-center>payment info</h3>


        <form id="payment-form">
            <ion-row>
                <ion-col col-12>
                    <div id="card-element"></div>
                </ion-col>
            </ion-row>
            <ion-row class="order-summary-payment__total">
                <ion-col col-6 text-center>
                    <strong>Total</strong>
                </ion-col>
                <ion-col col-6 text-center>
                    <strong>{{grandTotal | currency}}</strong>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div id="payment-result" class="card-error"></div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                  <ion-button id="card-button"
                              expand="full"
                              type="submit">{{appService.isLoggedIn() ? "Next" : "Submit Order" | translate}}
                  </ion-button>
                </ion-col>
              </ion-row>
            
        </form>
        
    </div>
</ion-content>