<ion-row class="order-summary-view-meal">
    <!-- <ion-col size="1" class="order-summary-view-meal__quantity">{{meal.quantity}}</ion-col> -->
    <ion-col size="12" no-padding>
        <div class="order-summary-view-meal__title">{{meal.title}}</div>
        <ion-row>
            <ion-col size="3" class="order-summary-view-meal__thumbnail">
                <ion-img [src]="meal.thumbnailUrl"></ion-img>
            </ion-col>
            <ion-col size="9">
                <div class="order-summary-view-meal__customizations">
                    <ng-container *ngIf="meal?.customizations?.length || meal.specialRequests; else noCustomizations">
                        <div class="order-summary-view-meal__customization" *ngFor="let customization of meal.customizations">
                            {{customization.name}}
                        </div>
                        <div *ngIf="meal.specialRequests" class="order-summary-view-meal__customization order-summary-view-meal__customization--special-request">
                            {{"(Special Request)" | translate}}
                        </div>
                    </ng-container>
                    <ng-template #noCustomizations>
                        No Customizations
                    </ng-template>
                </div>
                <div class="order-summary-view-meal__quantity">
                    {{"quantity: " | translate}} {{meal.quantity}}
                </div>
            </ion-col>
        </ion-row>
    </ion-col>
</ion-row>