<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="checkout/create-account"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{"checkout" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-sub-header">Delivery Address</div>
    <br />
    <app-order-summary-view [sectionsToHide]="HIDDEN_SECTIONS"></app-order-summary-view>

    <div class="padding">
        <h3 text-center>delivery address</h3>

        <form [formGroup]="deliveryAddresss">
            <ion-row>
              <ion-col col-12>
                  <ion-label position="stacked">{{"Address Line 1" | translate}} </ion-label>
                  <ion-input type="text" formControlName="line1"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                  <ion-label position="stacked">{{"Address Line 2" | translate}} </ion-label>
                  <ion-input type="text" formControlName="line2"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                  <ion-label position="stacked">{{"City" | translate}} </ion-label>
                  <ion-input type="text" formControlName="city" readonly></ion-input>
              </ion-col>
              <ion-col size="3">
                  <ion-label position="stacked">{{"State" | translate}} </ion-label>
                  <ion-input type="text" formControlName="state" readonly></ion-input>
              </ion-col>
              <ion-col size="3">
                  <ion-label position="stacked">{{"Zipcode" | translate}} </ion-label>
                  <ion-input type="text" formControlName="zip" readonly></ion-input>
                  <a [routerLink]="['/registration']" class="link link--blue">Change</a>
              </ion-col>
            </ion-row>
            <br/>
      
            <!--button-->
            <ion-row>
              <ion-col col-12>
                <ion-button  [disabled]="!deliveryAddresss.valid"
                            expand="full"
                            (click)="next()"
                            type="submit">{{"Next" | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
    </div>
</ion-content>