@import "../../../theme/custom/variables.scss";
.order-summary-confirmation__confirm-text {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 14px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-left: 6px solid $gold;
}

.order-summary-confirmation__order-placed{
    width: 100%;
}

.order-summary-confirmation__home-button {
    height: 50px;
    background: white;
    border-left: 6px solid $primary;
    text-align: center;
    width: 30%;
    font-weight: bold;
    padding: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    ion-img {
        width: 25px;
        margin: auto;
    }
}

.order-summary-confirmation__confirmation-text {
    margin-top: 5px;
}

.order-summary-confirmation__confirmation-num {
    font-size: 13px;
}