<div class="order-summary-view">
    <ng-container *ngIf="!shouldHideSection(OrderSection.MEALS)">
        <h4 class="order-summary-view__editable-header">
            <strong>my meals</strong>
            <div *ngIf="!readonly" class="order-summary-view__editable-header-edit" (click)="changeMeals()">change</div>
        </h4>
        <app-order-summary-view-meal *ngFor="let meal of order.meals" [meal]="meal"></app-order-summary-view-meal>
        <!-- Delivery Date -->
        <ion-row class="order-summary-view__delivery-date">
            <ion-col size="1"></ion-col>
            <ion-col size="5">{{order.pickupAddress ? "Pickup Date" : "Delivery Date" | translate}}</ion-col>
            <ion-col size="6" text-right>
                {{ deliveryDateText}}
                <span *ngIf="order.pickupAddress">
                    <strong>&nbsp;After {{order.pickupAddress?.pickupTime}}</strong>
                </span>
            </ion-col>
        </ion-row>
    
        <!-- Meals Per Week -->
        <ion-row>
            <ion-col size="1" class="order-summary-view__num-meals"></ion-col>
            <ion-col size="5">{{order.mealPlan.numMealsPerWeek}} {{" Meals" | translate}}</ion-col>
            <ion-col size="6" text-right>{{mealsPerWeekAmount | currency}}</ion-col>
        </ion-row>

        <!-- Meals Per Week -->
        <ion-row>
            <ion-col size="1" class="order-summary-view__num-meals"></ion-col>
            <ion-col size="5"> {{"Extras" | translate}}</ion-col>
            <ion-col size="6" text-right>{{customizationsAmount | currency}}</ion-col>
        </ion-row>
    
        <!-- Shipping -->
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="5">{{"Delivery" | translate}}</ion-col>
            <ion-col size="6" text-right>{{deliveryFee | currency}}</ion-col>
        </ion-row>
    
        <!-- Tax -->
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="5">{{"Tax" | translate}}</ion-col>
            <ion-col size="6" text-right>{{tax | currency}}</ion-col>
        </ion-row>
        <!-- Tax -->
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="5"><strong>{{"Total" | translate}}</strong></ion-col>
            <ion-col size="6" text-right><strong>{{grandTotal | currency}}</strong></ion-col>
        </ion-row>
    </ng-container>

    <!-- ACCOUNT INFO -->
    <ng-container *ngIf="!shouldHideSection(OrderSection.ACCOUNT_INFO)">
        <h6>account info</h6>
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="11">{{order.email}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="11">{{order.firstName}} {{order.lastName}}</ion-col>
        </ion-row>
    </ng-container>

    <!-- PICKUP LOCATION -->
    <ng-container *ngIf="pickupAddres; else deliveryAddress;">
        <ng-container *ngIf="!shouldHideSection(OrderSection.DELIVERY_ADDRESS)">
            <h6 class="order-summary-view__editable-header">
                <div>pickup location</div>
            </h6>
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="11">
                    <div>{{pickupAddres?.name}}</div>
                    <div>{{pickupAddres?.line1}}</div>
                    <div>{{pickupAddres?.line2}}</div>
                    <div>{{pickupAddres?.city}}, {{pickupAddres?.state}} {{pickupAddres?.zip}}</div>
                    <strong>Available for pick up after {{pickupAddres?.pickupTime}}</strong>
                </ion-col>
            </ion-row>
        </ng-container>
    </ng-container>

    <!-- DELIVERY ADDRESS -->
    <ng-template #deliveryAddress>
        <ng-container *ngIf="!shouldHideSection(OrderSection.DELIVERY_ADDRESS)">
            <h6 class="order-summary-view__editable-header">
                <div>delivery address</div>
                <div *ngIf="!readonly" class="order-summary-view__editable-header-edit" (click)="changeDeliveryAddress()">change</div>
            </h6>
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="11">
                    <div>{{order.deliveryAddress?.line1}}</div>
                    <div>{{order.deliveryAddress?.line2}}</div>
                    <div>{{order.deliveryAddress?.city}}, {{order.deliveryAddress?.state}} {{order.deliveryAddress?.zip}}</div>
                </ion-col>
            </ion-row>
        </ng-container>
    </ng-template>



    <!-- PAYMENT INFO -->
    <ng-container *ngIf="!shouldHideSection(OrderSection.PAYMENT_INFO)">
        <h6 class="order-summary-view__editable-header">
            <div>payment info</div>
            <div *ngIf="!readonly" class="order-summary-view__editable-header-edit" (click)="changePaymentInfo()">change</div>
        </h6>
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="11">
                {{maskedCardNumber}} EXP {{order.paymentInfo?.month}}/{{order.paymentInfo?.year}}
            </ion-col>
        </ion-row>
    </ng-container>
    
    

    
</div>