@import "../../../theme/fonts.scss";
@import "../../../theme/custom/variables.scss";

.order-summary-view {
    padding: 10px;
    background: $primary-alpha-2;
    font-family: $font-family-2;
    font-weight: 100;
    letter-spacing: .5px;
}

.order-summary-view__delivery-date {
    background: $accent-green;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: -10px;
    margin-left: -10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.order-summary-view__num-meals {
    padding-left: 0;
}

.order-summary-view__editable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-summary-view__editable-header-edit {
    color: $link-blue;
    font-size: 15px;
    font-weight: bold;
}