<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="product-list;menuId={{FOOD_CATEGORY}}"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{"checkout" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app-sub-header">Order Summary</div>
    <br />
    <app-order-summary-view [sectionsToHide]="HIDDEN_SECTIONS"></app-order-summary-view>
    <div class="padding">
        <h3 text-center>finish creating an account</h3>

        <form [formGroup]="accountCreation">
            <ion-row>
              <ion-col col-12>
                  <ion-label position="stacked">{{"Email" | translate}} </ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
              </ion-col>
            </ion-row>
            <!--password-->
            <ion-row>
              <ion-col col-12>
                  <ion-label position="stacked">{{"Password (At least 6 characters)" | translate}} </ion-label>
                  <ion-input (ionBlur)="checkPasswordMismatch()" (ionChange)="checkPasswordMismatch()"  type="password" formControlName="password"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                  <ion-label position="stacked">{{"Confirm Password" | translate}} <span class="error error--small" *ngIf="passwordMismatch">Passwords must match</span> </ion-label>
                  <ion-input (ionBlur)="checkPasswordMismatch()" (ionChange)="checkPasswordMismatchOnChange()" type="password" formControlName="confirmPassword"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                  <ion-label position="stacked">{{"First Name" | translate}} </ion-label>
                  <ion-input type="text" formControlName="firstName"></ion-input>
              </ion-col>
              <ion-col col-6>
                  <ion-label position="stacked">{{"Last Name" | translate}} </ion-label>
                  <ion-input type="text" formControlName="lastName"></ion-input>
              </ion-col>
            </ion-row>
            <br/>
      
            <!--button-->
            <ion-row>
              <ion-col col-12>
                <ion-button [disabled]="!accountCreation.valid"
                            expand="full"
                            (click)="next()"
                            type="submit">{{"Next" | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
    </div>
</ion-content>