<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Book a Table' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-btn" href="/cart" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="noOfItems > 0" class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-table-booking">
  <div style="background-image: url(assets/img/bg.jpg);" class="bg-image">
    <div class="side-headline">
      <p class="heading"> {{'Select Date and Time to Book Table' | translate}}!</p>
    </div>
    <div class="order">
      <ion-label class="form">&nbsp;&nbsp;{{'Select Date' | translate}}:</ion-label>
      <div class="select-box">
        <ion-item class="data-holder">
          <ion-datetime display-format="MMMM DD YYYY" min="2019-01-01" max="2022-12-31" [(ngModel)]="bookingInfo.date">
          </ion-datetime>
          <ion-label>
            <ion-icon name="calendar" class="icons"></ion-icon>
          </ion-label>
        </ion-item>
      </div>
    </div>

    <!--order-->
    <div class="order">
      <ion-label class="form">&nbsp;&nbsp;{{'Select Time' | translate}}:</ion-label>
      <div class="select-box">
        <ion-item class="data-holder">
          <ion-datetime displayFormat="hh-mm A" [(ngModel)]="bookingInfo.time"></ion-datetime>
          <ion-label>
            <ion-icon name="time" class="icons"></ion-icon>
          </ion-label>
        </ion-item>
      </div>
    </div>
    <!--order-->

    <div class="order">
      <ion-label class="form">&nbsp;&nbsp;{{'Select No. of Guests' | translate}}:</ion-label>
      <div class="select-box">
        <ion-item class="data-holder">
          <!-- <ion-item> -->
          <ion-label>{{'No. of Guests' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
          <ion-select [(ngModel)]="bookingInfo.person">
            <ion-select-option value="1">{{'1 person' | translate}}</ion-select-option>
            <ion-select-option value="2">{{'2 person' | translate}}</ion-select-option>
            <ion-select-option value="3">{{'3 person' | translate}}</ion-select-option>
            <ion-select-option value="4">{{'4 person' | translate}}</ion-select-option>
            <ion-select-option value="5">{{'5 person' | translate}}</ion-select-option>
            <ion-select-option value="5+">{{'5+ person' | translate}}</ion-select-option>
          </ion-select>
          <!-- </ion-item> -->
        </ion-item>
      </div>
      <!--select-box-->

    </div>
    <!--order-->
    <div class="btn-wrap">
      <ion-button expand="block" class="login-btn" (click)="onClickBookTable()">{{'Reserve a Table' | translate}}
      </ion-button>
    </div>
  </div>
</ion-content>